* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-color: #d9dcd6;
    width: 1519px;
    /* The exact width of the screen I am currently using. */
}

header {
    height: 100px;
    line-height: 50px;
    vertical-align: middle;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    font-size: 48px;
    width: 20%;
    float: left;
}

.seo {
    color: #d9dcd6;
    /* Used to change the "seo" in the header to a gray color. */
}

header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    line-height: 20px;
    display: inline-block;
    text-align: right;
    width: 25%;
    /* Used to help align the individual li elements that link to the sections of the page. */
}

a {
    vertical-align: middle;
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    /* Used to show alt text for the background image. Only "visible" to screen readers, thus the SR.*/
}

.meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    /* Changed from hero to meeting, as meeting made more sense for the background image title. */
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.inner-content {
    line-height: 35px;
    margin-bottom: 30px;
    padding: 50px;
    height: 330px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    /* Condensed all three class tags to the same one as they all were heading towards the same CSS attributes. */
}

.inner-content img {
    height: 200px;
    max-height: 100%;
}

.inner-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    line-height: 25px;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 1050px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.inner-benefits {
    margin-bottom: 25px;
    color: #ffffff;
    /* Same as with inner-content, to decrease tediousy. */
}

.inner-benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.inner-benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}